body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Gotham A", "Gotham B", arial;
    font-weight: 300;
    letter-spacing: 1px;

    .site-wrapper {
        color: #fff;
        
        header.header-wrapper {
            background-color: #6A7B76;
            display: flex;
            justify-content: space-between;
            padding: 30px 50px 20px;

            .site-logo {

                h1 {
                    margin: 0;
                }
            }

            .nav-wrapper {

                nav.nav {

                    .hamburger-nav {
                        cursor: pointer;
                        height: 27px;
                        width: 32px;

                        .nav-lines, .nav-lines::before, .nav-lines::after {
                            position: absolute;
                            width: 32px;
                            height: 3px;
                            border-radius: 2px;
                            background-color: #fff;
                            content: '';
                            top: 43px;
                        }

                        .nav-lines::before {
                            top: -8px;
                        }

                        .nav-lines::after {
                            top: 8px;
                        }

                        .nav-line {
                            position: relative;
                            content: '';
                            width: 30px;
                            height: 3px;
                            margin-top: 6px;
                            border-radius: 2px;
                            background-color: #fff;
                        }
                    }

                    ul.nav-list {
                        padding: 0;
                        margin: 0;
                        display: none;

                        li {
                            list-style-type: none;
                            font-size: 1.25em;

                            a {
                                text-decoration: none;
                                color: #fff;
                            }

                            a:hover {
                                color: #f0f0f0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}