body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  letter-spacing: 1px;
}

body .site-wrapper {
  color: #fff;
}

body .site-wrapper header.header-wrapper {
  background-color: #6A7B76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px 20px;
  height: 37px;
}

body .site-wrapper header.header-wrapper .site-logo h1 {
  margin: 0;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav {
  cursor: pointer;
  height: 27px;
  width: 32px;
  margin-left: auto;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines, body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines::before, body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines::after {
  position: absolute;
  width: 32px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  content: '';
  top: 43px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines::before {
  top: -8px;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines::after {
  top: 8px;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines.is-clicked {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines.is-clicked::before {
  top: 0;
  opacity: 0;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav .nav-lines.is-clicked::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav:hover .nav-lines, body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav:hover .nav-lines::before, body .site-wrapper header.header-wrapper .nav-wrapper nav.nav .hamburger-nav:hover .nav-lines::after {
  background-color: #e1e8e6;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list {
  padding: 0;
  margin: 0;
  opacity: 0;
  height: 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #6A7B76;
  border-radius: 3px;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list li {
  list-style-type: none;
  font-size: 1.25em;
  margin-top: 11px;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list li a:hover {
  color: #e1e8e6;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list li:first-child {
  margin-top: 0;
}

body .site-wrapper header.header-wrapper .nav-wrapper nav.nav ul.nav-list.show {
  opacity: 1;
  height: auto;
  overflow: visible;
  padding: 40px;
  width: 300px;
  margin-right: -50px;
}
/*# sourceMappingURL=styles.css.map */